<div class="m-8">
  <!-- TOP BAR -->
  <div class="grid grid-cols-3">
    <div class="arrowBack col-span-1 bg-black w-fit rounded py-1 p-0.5 pe-1 cursor-pointer">
      <svg class="w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>
    </div>
    <div class="flex justify-center items-center m-0 p-0 col-span-1">
      <h1 class="text-xl text-gray-800 font-semibold">Profile</h1>
    </div>
  </div>
  <hr class="border border-gray-300 mt-6 mb-6 text-black">
  <!-- USER INFORMATION -->
  <div class="grid grid-cols-3">
    <div class="pfp col-span-1 relative cursor-pointer">
      <img class="rounded-lg" src="/www/Public/img/elmopfp.webp" alt="">
      <div class="absolute bottom-1 right-1 w-4 bg-gray-300 bg-opacity-50 rounded-md">
        <img class="p-0.5" src="/www/Public/img/camera.svg" alt="">
      </div>
    </div>
    <div class="col-span-2 ms-4 flex flex-col items-start">
      <div>
        <p class="text-lg font-semibold">Angel Aguilar</p>
        <p class="text-xs text-gray-500">Reynosa, Tamps</p>
      </div>
      <button class="border-2 px-2 py-1 mt-2 text-gray-700 rounded-xl text-xs">Edit profile</button>
    </div>
  </div>
  <!-- MY STUFF CONTENT -->
  <div class="mt-12">
    <p class="mb-6 text-sm text-gray-600">My stuff</p>
    <!-- BUTTON -->
    <div class="grid grid-cols-12 mb-3 cursor-pointer">
      <div class="col-span-2 ms-1">
        <div class="bg-gray-100 w-fit p-1 rounded-lg">
          <img class="w-6" src="/www/Public/img/heart.svg" alt="">
        </div>
      </div>
      <div class="col-span-9 flex items-center">
        <p>Wishlist</p>
      </div>
      <div class="col-span-1 flex items-center">
        <img class="w-5" src="/www/Public/img/rightArrow.svg" alt="">
      </div>
    </div>
    <!-- BUTTON -->
    <div class="grid grid-cols-12 mb-3 cursor-pointer">
      <div class="col-span-2 ms-1">
        <div class="bg-gray-100 w-fit p-1 rounded-lg">
          <img class="w-6" src="/www/Public/img/gear.svg" alt="">
        </div>
      </div>
      <div class="col-span-9 flex items-center">
        <p>Preferences</p>
      </div>
      <div class="col-span-1 flex items-center">
        <img class="w-5" src="/www/Public/img/rightArrow.svg" alt="">
      </div>
    </div>
  </div>
  <!-- ADDRESS SECTION -->
  <div class="mt-6">
    <p class="mb-6 text-sm text-gray-600">Address</p>
    <!-- BUTTON -->
    <div class="grid grid-cols-12">
      <div class="col-span-2 ms-1">
        <div class="bg-gray-100 w-fit p-1 rounded-lg">
          <img class="w-6" src="/www/Public/img/map.svg" alt="">
        </div>
      </div>
      <div class="col-span-10 flex items-center">
        <p>Angel Aguilar</p>
        <p class="text text-sm text-gray-600 ms-3">899 963 3165</p>
      </div>
    </div>
    <div class="flex w-10/12">
      <p class="text text-sm text-gray-600 ms-14">Matamoros #315, Jarachina Sur #88736</p>
    </div>
  </div>
</div>

<!-- LOWER NAVBAR - If possible, try to make this navbar in a separate file to just connect -->

<nav class="absolute bottom-0 right-0 left-0 w-full overflow-hidden h-16 bg-white shadow-inner rounded-t-lg">
  <div class="flex justify-center items-center mt-5">
    <div class="homeIcon w-1/4 flex flex-col items-center justify-center">
      <img class="w-6 cursor-pointer opacity-30" src="/www/Public/img/home.svg" alt="">
    </div>
    <div class="likedIcon w-1/4 flex flex-col items-center justify-center">
      <img class="w-6 cursor-pointer opacity-30" src="/www/Public/img/heart.svg" alt="">
    </div>
    <div class="mapIcon w-1/4 flex flex-col items-center justify-center">
      <img class="w-6 cursor-pointer opacity-30" src="/www/Public/img/map.svg" alt="">
    </div>
    <div class="userIcon w-1/4 flex flex-col items-center justify-center">
      <img class="w-6 cursor-pointer" src="/www/Public/img/user.svg" alt="">
    </div>
  </div>
</nav>

<script>
  // ARROW BACK TO HOMEPAGE
  document.querySelector('.arrowBack').addEventListener('click', function() {
    LoadPartialView('/homepage', document.querySelector('.app'))
  })
  // CAMBIAR IMAGEN DE PERFIL
  document.querySelector('.pfp').addEventListener('click', function() {
    LoadPartialView('/userprofile', document.querySelector('.app'))
  })
  // NAVBAR
  document.querySelector('.homeIcon').addEventListener('click', function() {
    LoadPartialView('/homepage', document.querySelector('.app'))
  })
</script>